body
{
    text-align: center;
    background-color: rgb(10, 26, 26);
}
h1,h2
{
    border-left-color: lightblue;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
}
p
{
    font-family: sans-serif;
    font-size: 18px;
    color: wheat;
}
a
{
    font-size: 18px;
    color: purple;
}
#d1 
{
    border-left-color: lightblue;
}
#d2
{
    border-left-color: lightblue;
}